<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
  </head>
  <body>
  <div class="container container-box">
    <div class="jumbotron text-white bg-info jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Messaging Board</h1>
        <p class="lead">Write Something.</p>
      </div>
    </div>

  <ul id="message-container" class="list-group">
    <span id="msg-receive"></span>
    <% msg.forEach(m => {%>
    <li id="lista-msg" class="list-group-item">
      <span><strong><%= m.username %></strong> : <%= m.message %></span>
    </li>
    <%})%>
  </ul>

  <form id = "send-container">
    <div  class="form-group">
      <br>
      <textarea class="form-control" id="message-input" rows="3"></textarea>
    </div>
    <div class="bg-primary text-light p-2 text-center">Enter Key</div>
  </form>
  </div>

  <script
          src="https://code.jquery.com/jquery-3.4.1.slim.js"
          integrity="sha256-BTlTdQO9/fascB1drekrDVkaKd9PkwBymMlHOiG+qLI="
          crossorigin="anonymous"></script>
<script>
  const socket = io();
  const messageForm = document.getElementById('send-container');
  const messageInput = document.getElementById('message-input');
  const messageContainer = document.getElementById('message-container');

  var naziv;

    $(function() {
      const ime = prompt("Enter your username: ");
      if (ime) {
        console.log('Entered Username:',ime)
        socket.emit('ime-usera', ime);
      }
    });

  socket.on('poruka', data => {
        appendMessage(data);
  })

  socket.on('user-konekcija', ime => {
    console.log('ovo je ime', ime)
    naziv = ime;
  })

  $('#send-container').on('keydown', e => {
    if (e.key === 'Enter') {
      e.preventDefault();
      const message = messageInput.value;
      if (message.length > 0) {
        socket.emit('send-chat-message', message);
        messageInput.value = '';
      }
    }
  })

  function appendMessage(message) {

    const messageElement = document.createElement('li');
    const usernameStyle = document.createElement('span');
    const messageStyle = document.createElement('span');

    messageElement.className = "list-group-item";
    messageElement.style.float = 'left';
    let username = document.createTextNode(message.ime);
    let messageAppend = document.createTextNode(": " + message.message);
    usernameStyle.style.fontWeight = 'bold';
    messageStyle.style.overflowWrap = 'break-word';


    usernameStyle.append(username);
    messageStyle.append(messageAppend);
    messageElement.append(usernameStyle);
    messageElement.append(messageStyle);
    messageContainer.prepend(messageElement);
  }

</script>
  </body>
</html>
