body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #b0d9da !important;
}

a {
  color: #00B7FF;
}

.container-box {
  background: aliceblue;
  padding: 20px;
}

#message-container {
  height: 300px;
  overflow: scroll;
  overflow-x: hidden;
}

@media screen and (max-width: 900px) {
  body {
    padding: 0;
  }
  .container, .container-box {
    min-width: 100% !important;
    margin: 0 !important;
  }
}